.index {
  padding: 0 5px;
  box-sizing: border-box;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  .item_box {
    height: 48px;
    border-radius: 11px;
    background: $bg-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $cl-gray;
  }
  .select {
    border: 1px solid $cl-black;
  }
}
