.index {
  .item_box {
    margin: 0 15px;
    .img_box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .img {
        width: 110px;
        height: 140px;
        border-radius: 11px;
        margin-bottom: 8px;
      }
    }
  }
  .modal_box {
    width: 247px;
    height: 264px;
    box-sizing: border-box;
    padding: 17px 15px 11px 15px;
    background: $bg-white;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .item_box {
      width: 50%;
    }
  }
}
