.index {
  .banner_img {
    height: 194px;
    width: 345px;
  }
  .item_box {
    width: 50%;
  }
  .box {
    margin: 10px 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .item {
      width: 107px;
      height: 92px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $bg-gray;
      border-radius: 11px;
      margin-bottom: 10px;
      .item_img {
        height: 31px;
        width: 31px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
