.index {
  height: 48px;
  line-height: 48px;
  background: $bg-gray-7b;
  color: $cl-white;
  font-size: 15px;
  border-radius: 11px;
  text-align: center;
  box-sizing: border-box;
}
.black {
  background: $bg-black;
}
